{{define "githubConfiguration" -}}
# Github configuration 
github:
  issue_labels: {{with .IssueLabels -}}{{range $issue, $labels := .}}
    {{$issue}}: {{template "yamlArray" $labels}}
    {{- end}}
    {{- else}}{}{{end}}
{{- end}}
