# Jira configuration -----------------------------------#
jira:
  # Jira authentication configuration
  auth:
    # Jira authentication url to generate PAT
    # WARNING: Replace it with your actual Jira authentication url
    host: https://jira.example.com
    # Jira already generated PAT
    # WARNING: Replace it with your actual Jira PAT
    token: <Jira PAT>
    # Jira insecure TLS configuration
    insecure_tls: false
  # Jira issue types configuration
  issue_types:
    # Jira issue types for bugfix
    bugfix: ["1"]
    # Jira issue types for features
    feature: ["3", "5"]
    # Jira issue types for improvements
    improvement: ["4"]

# Github configuration --------------------------------#
github:
  # Github issue labels configuration
  issue_labels:
    bugfix: ["kind/bug"]
    feature: ["kind/feature"]
    refactoring: ["kind/refactoring"]
    documentation: ["kind/documentation"]
